@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .button {
        border-radius: 0.5rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .button-icon{
        height: 1.75rem;
    }
}