@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .button {
        border-radius: 0.5rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .button-icon{
        height: 1.75rem;
    }

    .title{
        --tw-text-opacity: 1;
        color: rgb(54 119 28 / var(--tw-text-opacity));
        font-size: 1.875rem/* 30px */;
        line-height: 2.25rem/* 36px */;
        text-transform: uppercase;
    }
    
    .input-field{
        border-radius: 1rem;
        padding: 0.75rem;
        --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        border-width: 1px;
        display: block;
        font-size: 0.875rem/* 14px */;
        line-height: 1.25rem/* 20px */;
    }
}